/**
 * This file is part of the RJMCommentBundle package.
 *
 * (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>
 *
 * This source file is subject to the MIT license that is bundled
 * with this source code in the file LICENSE.
 */

div.rjm_comment_thread_show {
    margin-top: 2em;
    padding: 1em 20px;
    width: 472px;
    background: #f0f0f0;
    box-shadow: 0 0 7px #bbb;
    -moz-box-shadow: 0 0 7px #bbb;
    -webkit-box-shadow: 0 0 7px #bbb;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
div.rjm_comment_thread_show h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    color: #a0a0a0;
}
div.rjm_comment_comment_show {
    color: #555;
}
span.rjm_comment_comment_authorname {
    font: 20px 'LeagueGothicRegular', Arial, sans-serif;
    color: #A6475F;
    text-transform: uppercase;
    vertical-align: middle;
}
div.rjm_comment_comment_metas {
    margin: 1.5em 0 0.5em 0;
    padding: 4px 20px;
    background: #F9D2DA;
    border: 1px solid #A6475F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
div.rjm_comment_comment_buttons {
    margin: 2px -10px 0 10px;
}
div.rjm_comment_comment_body {
    line-height: 1.5em;
    padding: 5px;
    background: #fff;
    border-bottom: 1px dashed #F3809A;
    margin-bottom: 5px;
}
div.rjm_comment_comment_replies {
    margin-left: 2em;
}
div.rjm_comment_comment_reply {
    text-align: right;
}
div.rjm_comment_comment_reply.replying {
    text-align: left;
    margin-top: 1em;
    padding: 1em 20px;
    background: #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
button.rjm_comment_comment_reply_show_form {
    padding: 2px 5px;
    font-size: 0.8em;
}
div.rjm_comment_comment_reply.rjm_comment_replying button.rjm_comment_comment_reply_show_form {
    display: none;
}
div.rjm_comment_thread_comments {
    margin-bottom: 1.5em;
}
div.rjm_comment_reply_prototype {
    display: none;
}
div.rjm_comment_thread_show > form.rjm_comment_comment_form {
    margin-bottom: 1em;
}
form.rjm_comment_comment_form.processing {
    opacity: 0.5;
}
form.rjm_comment_comment_form label.author_name {
    margin-top: 3px;
    float:left;
}
form.rjm_comment_comment_form label.author_name input {
    padding: 2px 5px;
}
form.rjm_comment_comment_form textarea {
    width: 98%;
    height: 6em;
    padding: 1%;
}
form.rjm_comment_comment_form.error textarea {
    border-color: red;
}
div.rjm_comment_form_errors {
    color: #ff0000;
}
div.rjm_comment_submit {
    text-align: right;
}
div.rjm_comment_submit input {
    font-size: 1.2em;
    padding: 3px 12px;
    margin-top: 3px;
}
a.rjm_comment_thread_feed {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
}
div.rjm_comment_comment_voting {
    float: right;
}
div.rjm_comment_comment_score {
    display: inline-block;
}
