{% extends "::base.html.twig" %}

{% block body %}
<div id="rjm_comment_thread" data-thread="{{ thread.id }}"></div>

{% include 'RJMCommentBundle:Thread:comments.html.twig' with {
    'comments': comments,
    'thread': thread
} %}
{% endblock body %}

{% block javascript %}
{% javascripts '@RJMCommentBundle/Resources/assets/js/comments.js' %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset_url }}">
// URI identifier for the thread comments
var rjm_comment_thread_id = '{{ path('rjm_comment_get_thread_comments', {'id': thread.id}) }}';
</script>
{% endjavascripts %}
{% endblock javascript %}
